h1, h2 {
    text-align: center;
}
.list-movies, .menu{
    display: flex;
    flex-flow: row wrap;
    align-content: space-between;
    justify-content: center;
    align-content: center;
    text-align: center;
    line-height: 0.1em;
}
.movies {
    padding: 0.2em;
    background-color: rgb(236, 236, 236);
    border: solid 0.5em white;
}